@{
    ViewBag.Title = "ErrorPayment";
    Layout = "~/Views/Shared/_CustomerDefault.cshtml";
}

<div class="center_content">
    <div class="center_title_bar">Thông báo lỗi thanh toán</div>
    <div class="prod_box_big">
        <div class="top_prod_box_big"></div>
        <div class="center_prod_box_big">
            <h3>Quá trình thanh toán xảy ra lỗi bạn vui lòng thanh toán khi nhận hàng.</h3>
            <h3>Mong quý khách thông cảm cho sự cố này của chúng tôi.</h3>
        </div>
        <div class="bottom_prod_box_big"></div>
    </div>
</div>

