
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_CustomerDefault.cshtml";
}

<div class="center_content">
    <div class="center_title_bar">Phản hồi</div>
    <div class="prod_box_big">
        <div class="top_prod_box_big"></div>
        <div class="center_prod_box_big">
            <div class="contact_form">
                <div class="form_row">
                    <label class="contact"><strong>Họ tên:</strong></label>
                    <input type="text" class="contact_input" />
                </div>
                <div class="form_row">
                    <label class="contact"><strong>Email:</strong></label>
                    <input type="text" class="contact_input" />
                </div>
                <div class="form_row">
                    <label class="contact"><strong>SDT:</strong></label>
                    <input type="text" class="contact_input" />
                </div>
                <div class="form_row">
                    <label class="contact"><strong>Công ty:</strong></label>
                    <input type="text" class="contact_input" />
                </div>
                <div class="form_row">
                    <label class="contact"><strong>Nội dung:</strong></label>
                    <textarea class="contact_textarea"></textarea>
                </div>
                <div class="form_row"> <a href="http://all-free-download.com/free-website-templates/" class="contact">Gửi</a> </div>
            </div>
        </div>
        <div class="bottom_prod_box_big"></div>
    </div>
</div>

