@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InformationBook1</title>
    <script src=" ~/Scripts/jquery-2.1.4.intellisense.js"></script>
    <script src=" ~/Scripts/jquery-2.1.4.js"></script>
    <script src=" ~/Scripts/jquery-2.1.4.min.js"></script>
    <script>
        function get() {
            $.ajax(
                {
                    url: "/api/orders/information",
                    type: "GET",
                    data: { id: $('#suplier').val(), username: $('#name').val(), password: $('#pass').val() },
                    success: function (data) {
                        var str = "<table border = 1, width = '50%'>";
                        str += "<tr>";
                        str += "<td>" + "Mã hợp đồng" + "</td>";
                        str += "<td>" + "Mã sách" + "</td>";
                        str += "<td>" + "Tên sách" + "</td>";
                        str += "<td>" + "Số lượng tồn kho" + "</td>";
                        $.each(data, function (key, val) {
                            str += "<tr>";
                            str += "<td>" + val.MaHopDong + "</td>";
                            str += "<td>" + val.MaSach + "</td>";
                            str += "<td>" + val.TenSach + "</td>";
                            str += "<td>" + val.SoLuongTon + "</td>";
                            str += "</tr>";
                        });
                        str += "</table>";
                        $("#result").html(str);
                    },
                    statusCode: {
                        401: function () {
                            alert("Username or password fail");
                        },
                        404: function () {
                            alert("Không tìm thấy");
                        }
                    }
                });
        }

        function insert() {
            $.ajax(
                {
                    url: "/api/orders/start_shipping1",
                    type: "POST",
                    dataType: "text",
                    //contentType: "application/text",
                    data: { suplier_key: $('#mancc').val(), order_id: $('#mahopdong').val(), product_id: $('#masach').val(), product_quantity: $('#soluong').val(), product_date: $('#ngaygiao').val(), username: $('#name').val(), password: $('#pass').val() },
                    success: function () { },
                    statusCode: {
                        404: function () {
                            alert("Không thêm được");
                        },
                        200: function () {
                            alert("Thành công");
                        },
                        401: function () {
                            alert("Username or password fail");
                        }
                    }
                });
        }

    </script>
</head>
<body>
    <div>
        <h3>Kiểm tra tồn kho</h3>
        <table>
            <tr>
                <td>Mã NCC:</td>
                <td>
                    <input type="text" id="suplier" />
                </td>
            </tr>
            <tr>
                <td>Username:</td>
                <td>
                    @Html.TextBox("name")
                </td>
            </tr>
            <tr>
                <td>Password:</td>
                <td>
                    @Html.Password("pass")
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="button" value="Search" onclick="get();" />
                </td>
            </tr>
        </table>
        <div id="result"></div>
        <br />
        <h3>Tạo giao dịch mới</h3>
        <table>
            <tr>
                <td>Mã NCC: </td>
                <td>
                    <input type="text" id="mancc" />
                </td>
            </tr>
            <tr>
                <td>Mã hợp đồng: </td>
                <td>
                    <input type="text" id="mahopdong" />
                </td>
            </tr>
            <tr>
                <td>Mã sách: </td>
                <td>
                    <input type="text" id="masach" />
                </td>
            </tr>
            <tr>
                <td>Số lượng giao: </td>
                <td>
                    <input type="text" id="soluong" />
                </td>
            </tr>
            <tr>
                <td>Ngày giao: </td>
                <td>
                    <input type="text" id="ngaygiao" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="button" id="Save" value="Save" onclick="insert();" /></td>
            </tr>
        </table>
    </div>
</body>
</html>
