@{
    Layout = "~/Views/Shared/_CustomerDefault.cshtml";
}

<div class="center_title_bar">Kiểm tra tồn kho</div>
<div class="prod_box_big">
        <h3> 
            Hợp đồng với công ty bạn đã hết hạn. Bạn vui lòng kiểm tra lại thông tin của hợp đồng<br />
            Hoặc công ty chúng tôi chưa kí kết hợp đồng với công ty bạn.<br />
        </h3>
</div>
